{% extends 'base.html' %}

{% block content %}
 <div class="row">
                <div class="col-lg-4">
                    <div class="widget style1">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span> Ingresos Estimados </span>
                                    <h2 class="font-bold">L.4,232.00</h2>
                                </div>
                            </div>
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-whatsapp fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Mensajes enviados </span>
                                <h2 class="font-bold">260</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget style1 yellow-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Usuarios Totales </span>
                                <h2 class="font-bold">12</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            Bienvenido a 504 Express Charge 
                        </h1>
                        <small>
                            
                        </small>
                    </div>
                </div>
            </div>
{% endblock %}