{% extends 'base.html' %}

{% block content %}

<div class="row">
        <div class="col-lg-4">
            <div class="widget style1 blue-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-whatsapp fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>Enviados</span>
                        <h2 class="font-bold">{{sent}}</h2>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-lg-4">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-whatsapp fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>No enviados actualmente</span>
                        <h2 class="font-bold">{{not_sent}}</h2>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-lg-4">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-whatsapp fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>Mensajes totales</span>
                        <h2 class="font-bold">{{total}}</h2>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="tblUsuarios" class="display nowrap table table-hover table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>número</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in not_sent_messages %}
                                    <tr>
                                        <td>{{x.name}}</td>
                                        <td>{{x.phone}}</td>
                                        <td>{{x.status}}</td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>

                        {% include "pagination.html" %}
					    

					    <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="options" value="send_all">
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm">Enviar todos</button>
                        </form>
				    </div> 
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Speech actual</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="label label-danger">{{speech.name}}</span></td>
                            <td><span class="label label-danger">{{speech.configuration_type}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Subir Excel</h5>
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="myfile">
                            <input type="hidden" name="options" value="upload_excel">
                            <br>
						    <button type="submit" class="btn btn-primary btn-sm">Subir archivo</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>

    
{% endblock %}