{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="text-center m-t-lg">
				<h1>
					Dashboard Mensajes Aéreo 
				</h1>
			   
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
				    <h5>No Enviados Hoy {{quantity_not_sent}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="tblUsuarios" class="display nowrap table table-hover table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>número</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in not_sent_messages %}
                                    <tr>
                                        <td>{{x.name}}</td>
                                        <td>{{x.phone}}</td>
                                        <td>{% if x.status == 0 %}No enviado {% else %} Enviado {% endif %}</td>
                                        <td>
                                            <!-- <a href="" class="btn btn-danger btn-sm">Enviar mensaje</a> -->
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>

                        {% include "pagination.html" %}
					    

					    <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="options" value="send_all">
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm">Enviar todos</button>
                            <!-- <a href="" class="btn btn-success btn-sm">Enviar 50</a> -->
                        </form>
				    </div> 
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Speech actual</h5>
                </div>
                <div class="ibox-content">
                    <div class="text-center">

                        <div class="form-group">
                            <input disabled class="form-control" type="text" value="{{speech.name}}">
                        </div>

                        {% comment %} <textarea rows="10" cols="40">{{speech.text}}</textarea> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Subir Excel</h5>
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="myfile">
                            <input type="hidden" name="options" value="upload_excel">
                            <br>
						    <button type="submit" class="btn btn-primary btn-sm">Subir archivo</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}